<html>
<head>
<title>음악 공유소</title>
	<font color="#FFFFFF">
	<center><h1>메뉴</h1></center>
	</font>
"{% url 'song'%}"
</head>
<body bgcolor="#000000">
<table width="150" border="1" align="center" cellpadding="10">
<tr>
<td align="center"><strong><a href="index.html" target="main><font color="#FFFFFF">홈으로</font></a></strong></td>
</tr>
<tr>
<td align="center"><strong><a href="song.html" target="main"><font color="#FFFFFF">장르별대표곡</font></a></strong></td>
</tr>
<tr>
<td align="center"><strong><a href="recom.html" target="main"><font color="#FFFFFF">추천곡</font></a></strong></td>
</tr>
<tr>
<td align="center"><strong><a href="visitor.html" target="main"><font color="#FFFFFF">방문객추천곡</font></a></strong></td>
</tr></table>
</body>
</html>